In [12]:
import pandas as pd

In [13]:
from sqlalchemy import create_engine

In [20]:
conn_string = 'mysql://root:Karthick10@localhost:3306/karthick'

In [21]:
db=create_engine(conn_string)

In [23]:
conn=db.connect()

In [24]:
df=pd.read_csv('artist.csv')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421 entries, 0 to 420
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   artist_id     421 non-null    int64
 1   full_name     421 non-null    object
 2   first_name    421 non-null    object
 3   middle_names  148 non-null    object
 4   last_name     421 non-null    object
 5   nationality   421 non-null    object
 6   style         421 non-null    object
 7   birth         421 non-null    int64
 8   death         421 non-null    int64
dtypes: int64(3), object(6)
memory usage: 29.7+ KB

In [26]:
df.head()

,artist_id,full_name,first_name,middle_names,last_name,nationality,style,birth,death
0,500,Pierre-Auguste Renoir,Pierre,Auguste,Renoir,French,Impressionist,1841,1919
1,501,Alexandre Cabanel,Alexandre,NaN,Cabanel,French,Classicist,1823,1889
2,502,James Ensor,James,NaN,Ensor,Belgian,Expressionist,1860,1949
3,503,Maximilien Luce,Maximilien,NaN,Luce,French,Pointillist,1858,1941
4,504,August Macke,August,NaN,Macke,German,Expressionist,1887,1914

In [28]:
df.to_sql('artist',con=conn,if_exists='replace',index=False)

421

In [46]:
files = ['artist','canvas_size','image_link','museum','museum_hours','product_size','subject','work']

In [47]:
for file in files:
    df=pd.read_csv(f'C:\\Users\\Karth\\Downloads\\archive\\{file}.csv')

    df.to_sql(file ,con=conn,if_exists='replace',index=False)